<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/app.js"></script>

  </head>
  <body>
    <div class="container">
      <h2 class="text-center">Temperature in Walnut Creek</h2>
      <p class="album-details"></p>
      <h2>Taco Shops in the Mission</h2>
      <p class="taco-shops"></p>

    </div>
  </body>
</html>
