body {
  background-color: #0B486B;
  color: white;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.container {
  margin-top: 15%;
}

.temp-details {
  font-size: 100px;
  font-weight: lighter;
}
